{
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "extends": [
    "@standardnotes/eslint-config-extensions"
  ],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "globals": {
    "CodeMirror": true,
    "ComponentRelay": true
  }
}
